body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.region-one, .region-two {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  color: #fff;
}

.region-one {
  background: cadetblue;
}

.region-two {
  background: indianred;
}

.text-display {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7em;
  color: #fff;
  pointer-events: none;
}

@keyframes fade-out {
  from { transform: scale(3); opacity: 1; }
  to { transform: scale(0.5); opacity: 0; }
}

@keyframes jitter {
  0% { transform: rotate(-5deg); }
  33% { transform: rotate(5deg); }
  66% { transform: rotate(-5deg); }
  100% { transform: rotate(5deg); }
}

@keyframes jitter-fade-out {
  0% { transform: scale(1.0) rotate(0deg); opacity: 1; }
  5% { transform: scale(1.5) rotate(-5deg); opacity: .95; }
  10% { transform: scale(1.6) rotate(1deg); opacity: .90; }
  15% { transform: scale(1.7) rotate(3deg); opacity: .85; }
  20% { transform: scale(1.3) rotate(-3deg); opacity: .80; }
  25% { transform: scale(1.0) rotate(5deg); opacity: .75; }
  30% { transform: scale(1.1) rotate(2deg); opacity: .70; }
  35% { transform: scale(1.1) rotate(0deg); opacity: .65; }
  40% { transform: scale(1.0) rotate(-5deg); opacity: .60; }
  45% { transform: scale(1.0) rotate(2deg); opacity: .55; }
  50% { transform: scale(1.1) rotate(-2deg); opacity: .50; }
  55% { transform: scale(1.1) rotate(-3deg); opacity: .45; }
  60% { transform: scale(1.0) rotate(5deg); opacity: .40; }
  65% { transform: scale(1.0) rotate(-2deg); opacity: .35; }
  70% { transform: scale(1.1) rotate(1deg); opacity: .30; }
  75% { transform: scale(1.1) rotate(2deg); opacity: .25; }
  80% { transform: scale(1.0) rotate(-2deg); opacity: .20; }
  85% { transform: scale(1.0) rotate(5deg); opacity: .15; }
  90% { transform: scale(1.1) rotate(2deg); opacity: .10; }
  95% { transform: scale(1.1) rotate(-5deg); opacity: .05; }
  100% { transform: scale(1.0) rotate(0deg); opacity: 0; }
}