body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.region-one, .region-two {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  color: #fff;
}

.region-one {
  background: cadetblue;
}

.region-two {
  background: indianred;
}

.start-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%, -50%);
  font-size: 6em;
  color: #fff;
}